<div class="container container--contact">
  <div class="blog-content">
    <h1>Get in touch</h1>
    <p>charlesgharries [at] gmail [dot] com</p>

    <nav class="nav nav--home">
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "Github", 'https://github.com/charlesharries' %></li>
        <li><%= link_to "CV", resume_path %></li>
        <li><%= link_to "Blog", posts_path %></li>
      </ul>
    </nav>
  </div>
</div>
