<div class="content">
  <div class="text">
    <div class="title">
      <%= image_tag("baby.png", alt: "A baby (not me) at intu Trafford Centre, Manchester, viewing the divine") %>
      <h1>Charles Harries</h1>
    </div>
    <nav class="nav">
      <ul>
        <li><%= link_to "Github", 'https://github.com/charlesharries' %></li>
        <li><%= link_to "Instagram", 'https://www.instagram.com/charlesharries/' %></li>
        <li><%= link_to "Blog", posts_path %></li>
      </ul>
    </nav>
  </div>
</div>
