<div class="container container--resume">
  <div class="blog-content">
    <h1>Resume</h1>
    <h2>Work experience</h2>
		<ul>
			<li>
				<div class="work-title"><h3>Developer</h3>, <p>Creator</p></div>
				<div class="work-time"><p>October 2017 - present | County Durham, United Kingdom</p></div>
				<ul class="work-content">
					<li>Undertaking general Wordpress theme development, maintenance, and modification</li>
					<li>Integrating APIs with websites in the student housing sector</li>
					<li>Writing Ruby web-scraping scripts to keep track of prices across a variety of e-commerce websites</li>
				</ul>
			</li>

			<li>
				<div class="work-title"><h3>Web developer</h3>, <p>Ryan & Deslauriers</p></div>
				<div class="work-time"><p>October 2016 - October 2017 | Orlando, FL</p></div>
				<ul class="work-content">
					<li>Led the development and deployment of full-service, accessible websites and landing pages for clients in the real estate industry</li>
					<li>Created and designed bespoke Wordpress child themes, as well as managed content creation, hosting, and domains</li>
					<li>Designed online user experience, interactivity, and animation</li>
				</ul>
			</li>

			<li>
				<div class="work-title"><h3>Assistant Language Teacher</h3>, <p>Town of Yubetsu Board of Education</p></div>
				<div class="work-time"><p>August 2012 - July 2016 | Yubetsu, Japan</p></div>
				<ul class="work-content">
					<li>Developed and implemented an English-language curriculum for elementary, junior high, and high schools</li>
					<li>Organized and led language- and culture-related town events, such as a traditional Canadian ‘sugaring’ experience</li>
				</ul>
			</li>

			<li>
				<div class="work-title"><h3>Previous Experience</h3></div>
				<ul class="work-content">
					<li>Produced real estate marketing copy for Ryan & Deslauriers</li>
					<li>Cashiered at the Wizarding World of Harry Potter at Universal Studios Orlando</li>
				</ul>
			</li>
		</ul>

    <h2>Side projects</h2>
    <ul>
    	<li>
    		<div class="work-title"><h3>The Odin Project</h3></div>
    		<ul class="work-content">
    			<li>Contributor to open-source Ruby/Rails curriculum</li>
    			<li>Built and deployed project apps such as a hangman web app and a flight booking application with API</li>
    		</ul>
    	</li>

    	<li>
    		<div class="work-title"><h3>HAJET Webmaster</h3></div>
    		<ul class="work-content">
    			<li>Managed the Hokkaido JET Association Wordpress website and Google for Work email accounts</li>
    		</ul>
    	</li>

    	<li>
    		<div class="work-title"><h3>Polestar Editor-in-Chief</h3></div>
    		<ul class="work-content">
    			<li>Curated, edited, and co-designed a lifestyle newsletter for English teachers living in Japan</li>
    		</ul>
    	</li>

    <h2>Education</h2>
    <ul>
    	<li><p>2012 BA in English, McGill University</p></li>
    </ul>

    <h2>Technical skills</h2>
    <ul>
    	<li><p>HTML5/CSS3/ES6, Wordpress, NodeJS, Ruby on Rails, SQL, Git, among others</p></li>
    </ul>
  </div>
</div>
