<div class="back-to">
  <% if @post.category == 'experiment' %>
    Back to <%= link_to 'experiments', experiments_path %>
  <% elsif @post.category == 'opinion' %>
    Back to <%= link_to 'experiments', experiments_path %>
  <% end %>
  <% if @post.title %>
    <hr />
  <% end %>
</div>
