$pink: #f4859b;

@import 'errors';
@import 'form';
@import 'footer';
@import 'mobile_menu';

/*
==========
General rules
==========
*/

body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: calc(0.7em + 0.5vw);
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: #333;
}

hr {
  width: 15%;
  background-color: #aaa;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: $pink;
}

li a {
  color: #333;
  position: relative;
  &:hover {
    color: $pink;
  }
  &:active, &:focus {
    color: lightblue;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  letter-spacing: 0.0325em;
}

h1 {
  font-size: 2.75em;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

h2 {
  font-size: 1.75em;
  font-weight: 400;
  letter-spacing: 0.0325em;
  a {
    color: #333;
  }
}

h3 {
  font-size: 1.55em;
}

h4 {
  // Using this one for image captions/attributions
  font-size: 0.55em;
  color: #aaa;
  margin-top: -30px;
  margin-bottom: 30px;
}

h5 {
  color: #aaa;
  font-size: 1.35em;
  font-style: italic;
}

h6 {
  font-size: 0.85em;
  color: #aaa;
}

p {
  margin-bottom: 30px;
  img {
    width: 960px;
    margin-left: -150px;
  }
}

code {
  font-family: 'Cousine', monospace;
  font-size: 0.9em;
  background: #fafafa;
  border: 1px solid #f6f6f6;
  border-radius: 2px;
  padding: 3px;
}

pre {
  font-family: 'Cousine', monospace;
  font-size: 0.8em;
  width: 960px;
  margin-left: -150px;
  border: 1px solid #f6f6f6;
  padding: 20px;
  margin-bottom: 30px;
  background: #fafafa;
  border-radius: 2px;
  overflow: scroll;
}

.full-width {
  width: 100vw;
  margin-left: calc(((100vw - 660px) / 2) * -1);
}

img {
  width: 100%;
  margin: 0 auto;
}

ol {
  list-style-type: lower-roman;
  padding-left: 45px;
  margin-bottom: 30px;
}


/*
==========
Home page
==========
*/

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  width: 100%;
  max-width: 960px;
}

.title {
  text-align: center;
  position: relative;
  img {
    height: 300px;
    width: 300px;
    padding: 10px;
    border: 0.5px solid $pink;
  }
  h1 {
    position: absolute;
    top: 32%;
    right: 0;
    left: 0;
  }
}

.nav {
  display: flex;
  margin-top: 50px;
  ul {
    display: flex;
    margin: 0 auto;
    li {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}

/* Show page */

.blog-content {
  margin-top: 80px;
}

.post-body {
  margin-top: 40px;
}

/* Header */

header {
  max-width: 960px;
  margin: 0 auto;
  ul {
    margin-top: 15px;
    text-align: right;
    li {
      display: inline-block;
      font-size: 0.85em;
      letter-spacing: 0.05em;
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}

.blue {
  color: lightblue;
}

/* Notices */

.notices {
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  .notice {
    color: lightblue;

  }
  .error {
    color: crimson;
  }
}

/* Post index pages */

.container {
  max-width: 660px;
  margin: 0 auto;
}

.list-wrap {
  text-align: center;
}

.page-title {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $pink;
}

.read-more {
  font-size: 0.85em;
  margin-bottom: 20px;
}

/* Images */

.picture {
  margin-bottom: 30px;
}

// TODO media queries for less than 990px, so that images within posts don't wind up trailing off the page
