$base-color: #ff1277;
$secondary-color: #ff1277;

@import 'errors';
@import 'form';
@import 'footer';
@import 'mobile_menu';

/*
==========
General rules
==========
*/

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  // letter-spacing: 0.01rem;
  color: #003386;
}

input, textarea, select, button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

hr {
  background-color: #ddd;
  border: none;
  height: 1px;
  margin-left: 0;
  width: 15%;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: $base-color;
}

nav li a {
  color: inherit;
  position: relative;
  &:hover {
    color: $base-color;
  }
  &:active, &:focus {
    color: $secondary-color;
  }
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

h1 {
  font-size: 2.75rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.0325em;
  a {
    color: inherit;
  }
}

h3 {
  font-size: 1.55rem;
}

h4 {
  // Using this one for image captions/attributions
  font-size: 0.55rem;
  color: #aaa;
  margin-top: -30px;
  margin-bottom: 30px;
}

h5 {
  color: #aaa;
  font-size: 1.35rem;
  font-style: italic;
}

h6 {
  font-size: 0.85rem;
  color: #aaa;
}

p {
  margin-bottom: 30px;
  img {
    width: 960px;
    margin-left: -150px;
  }
}

code {
  font-family: 'Cousine', monospace;
  font-size: 0.8rem;
  font-style: initial;
  background: #fafafa;
  border: 1px solid #f6f6f6;
  border-radius: 2px;
  padding: 3px;
}

pre {
  font-family: 'Cousine', monospace;
  font-size: 0.8rem;
  width: 960px;
  margin-left: -150px;
  border: 1px solid #f6f6f6;
  padding: 20px;
  margin-bottom: 30px;
  background: #fafafa;
  border-radius: 2px;
  overflow: scroll;
}

.full-width {
  width: 100vw;
  margin-left: calc(((100vw - 640px) / 2) * -1);
}

img {
  width: 100%;
  margin: 0 auto;
}

ol {
  list-style-type: lower-roman;
  padding-left: 45px;
  margin-bottom: 30px;
}


/*
==========
Home page
==========
*/

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  padding: 10px;
  padding-top: 70px;
}

.text {
  width: 100%;
  max-width: 960px;
}

.title {
  text-align: center;
  position: relative;
  img {
    height: 150px;
    width: 150px;
    padding: 5px;
    border: 0.5px solid $base-color;
  }
  h1 {
    font-weight: 700;
    margin-top: 40px;
  }
}

.desc--wrap {
  margin-top: 40px;
  .desc {
    text-align: center;
  }
}

.nav {
  display: flex;
  font-size: 1.15rem;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 500;
  ul {
    display: flex;
    margin: 0 auto;
    li {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}

.nav--home li a {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* Show page */

.back a {
  font-size: 0.85rem;
}

.blog-content {
  margin-top: 60px;
  h1 {
    font-weight: 700;
    letter-spacing: 0;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    text-transform: uppercase;
  }
  hr {
    margin: 30px 0;
  }
}

.post-body {
  margin-top: 40px;
  h2 {
    font-size: 1.35rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 16px;
    margin-top: 50px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 50px;
  }
  blockquote, q {
    border-left: 2px solid $base-color;
    font-style: italic;
    padding-left: 40px;
  }
  pre {
    code {
      border: none;
    }
  }
}

/* Header */

header {
  max-width: 960px;
  margin: 0 auto;
  ul {
    margin-top: 15px;
    text-align: right;
    li {
      display: inline-block;
      font-size: 0.85em;
      letter-spacing: 0.05em;
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}

.blue {
  color: $secondary-color;
}

/* Notices */

.notices {
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  .notice {
    color: $secondary-color;

  }
  .error {
    color: crimson;
  }
}

/* Post index pages */

.container {
  max-width: 660px;
  margin: 0 auto;
  padding: 10px;
}

.list-wrap {
  text-align: left;
}

.page-title {
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0;
}

.post-title {
  text-transform: uppercase;
  h2 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  h6 {
    color: #aaa;
    font-size: 0.65rem;
  }
}

.post-subtitle {
  font-size: 0.85rem;
}

.read-more {
  font-size: 0.85em;
  margin-bottom: 20px;
}

/* Images */

.picture {
  margin-bottom: 30px;
}

// TODO media queries for less than 990px, so that images within posts don't wind up trailing off the page

/* Login Page, just for me */

.container--login {
  text-align: center;
  h2 {
    font-weight: 700;
    margin-bottom: 20px;
  }
  form {
    margin-bottom: 20px;
  }
}

.form-inputs > div {
  margin-bottom: 10px;
  label {
    text-transform: uppercase;
    color: #aaa;
    font-size: 0.8rem;
  }
  input {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    outline: none;
  }
}

/* Contact */

.container--contact {
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
}
