@media screen and (max-width: 990px) {
  p img, pre {
    width: 100vw;
    margin-left: calc(((100vw - 660px) / 2) * -1);
  }

  .footer-content, header {
    margin: 0 40px;
    margin-bottom: 70px;
  }

  .internal ul {
    text-align: right;
    li {
      margin-right: 0!important;
    }
  }

  header {
    display: none;
  }

  .form-content {
    margin-top: 1rem;
  }

  .mobile-nav {
    display: block;
  }

  .content .nav {
    display: none;
  }

  .links ul {
    flex-direction: column;
    li {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 960px) {
  .post_content textarea {
    width: 960px;
    margin-left: -150px;
  }

  .picture img {
    width: 960px;
    margin-left: -150px;
  }
}

@media screen and (max-width: 660px) {
  p img, pre {
    width: 100%;
    margin: 0 auto;
  }

  pre {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .blog-content {
    margin-top: 0;
    h1, h2, h3, h4, h5, h6, p, a {
      margin-left: 20px;
      margin-right: 20px;
    }
    p > img {
      margin-left: -20px;
      width: 100vw;
    }
  }

  .title {
    img {
      width: 120px;
      height: 120px;
    }
    h1 {
      position: initial;
      margin-top: 20px;
    }
  }

  .desc--wrap {
    margin-top: 20px;
  }

  h1 {
    font-size: 1.7rem;
  }
}
